@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f2e8cf;
}

/* NAVBAR*/
.nav-user-image{
  height: 40px;
  width:40px;
  border-radius: 50%;
}
.nav-links{
  width: 100%;
  justify-content: space-between;
}
.nav-user-and-signout{
  justify-self: right;
  display: flex;
}


/*Profile Card */
.userProfileContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.profileCard {
  padding: 10px;
}
.profile-card{
  display: flex;
  flex-direction: row;
  width: 80%;
}
.profile-card-image{
  height: 300px;
  object-fit: scale-down;
}
.profile-card-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Reactions */
.reactions-container {
  width: 100%;
  display: flex;
}
.reactions-dropdown{
  padding: 8px;
  background-color: slategray;
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
  border: 1px black solid
}
.popover{
  max-width: 400px;
}
.reactions{
  height: 30px;
  width: 30px;
  margin: 4px;
}

.reactions-display{
  margin-left: 10px;
  display: flex;
}
.display-reactions{
  height: 30px;
  width: 30px;
  margin: 4px;
}
.no-show{
  display: none;
}

/* Post Page */
.all-posts-page{
  display: flex;
  flex-direction: column;
}
.post-page-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
}
.all-posts-title{
  margin-bottom: 1px;
}

.add-post{
  display: flex;
  align-self: flex-end;
  align-items: center;
  height: 3em;
}
.add-post h2{
  margin-right: 8px;
  margin-top: 4px;
}


/* Post Card */
.post-card{
  margin: .5rem;
}
.post-card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-card-header, p {
  margin-bottom: 0px
}
.post-card-user-div{
  display:flex;
  align-items: center;
}
.post-card-user-image{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 6px;
}

.post-card-content-div{
  display: flex;
}
.post-card-title-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
.post-card-post-image{
  width: 200px;
  object-fit: scale-down;
}

.post-card-body{
  display: flex;
  height: 9rem;
  padding: 10px;
}
.post-card-content{
  overflow:hidden;
  text-overflow: ellipsis;
}
.post-card-tags{
  display: flex;
}

.post-card-tags p:not(:first-child) {
margin-left:6px;
}
.post-card-tag{
  color: #403d39;
  font-style: italic; 
}

.post-card-footer{
  display:flex;
}
.post-card-buttons{
  display: flex;
  flex-direction: row;
}
.trash{
  margin: 2px;
}
.gear{
  margin: 2px;
}

/* Single Post */
.single-post{
  background-color: transparent!important;
}
.post-user-image{
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin-right: 8px;
}
.single-post-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-user-div{
  display: flex;
  align-items: center;
}

.post-image{
  width: 100%;
}
.post-content{
  padding: 2rem;
  padding-top:1rem;
}

.post-buttons{
  display: flex;
}
.single-post-tags{
  display: flex;
  padding-left: 2rem;
}

.single-post-tags p:not(:first-child){
  margin-left: 6px;
}

/* Comments */
.comment-header{
  display: flex;
  align-items: center;
  background-color: transparent;
}
.comment-card-body{
  padding: 8px;
  display: flex;
}
.comment-user-image{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 6px;
}
.comment-edit-div{
  width: 90%;
}
.edit-comment-input{
  width: 100%;
}
.comment-form-div{
  margin-top: 8px;
  margin-bottom: 8px;
}
.comment-form{
  display: flex;
  align-items: center;
}
.comment-form-input{
  margin-left: 8px;
  margin-right: 8px;
  width: 75%;
}

.profileUserName {
  cursor: pointer;
}

.submitButton {
  margin-top: 6px;
}

/*Category Manager*/
.category-render{
  display: flex;
}
.category-card{
  width: 100%;
}

.btn-outline-danger{
  --bs-btn-color: firebrick;
    --bs-btn-border-color: firebrick;
    --bs-btn-hover-bg: firebrick;
    --bs-btn-hover-border-color: #dc3545;
    --bs-btn-active-bg: goldenrod;
    --bs-btn-active-border-color: goldenrod;
    --bs-btn-disabled-color: goldenrod;
    --bs-btn-disabled-border-color: goldenrod;
}
